$body-bg: hsl(210, 36%, 96%);
$body-ff: "Open Sans", sans-serif;
$body-color: hsl(209, 61%, 16%);
$main-spacing: 0.25rem;
$primary-color: hsl(205, 78%, 60%);
$white-c: #fff;
$main-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$main-transition: 0.4s;
